body {
    font-family: "Inter";
    background-color: #E4E0DC;
    color: #2A3965;
}

@media (min-width: 600px) {
    main, footer{
        padding-left: 20vw;
        padding-right: 20vw;
        margin: 0;
    }

    nav ul li {
        display: inline;
        padding: 20px;
        color: #E4E0DC;
    }

}

body {
    margin: 0;
}

header {
    background-color: #2A3965;
}

nav {
    padding: 0 15px 15px 15px;
    width: 100%;
    text-align: center;
}

#otherLinks {
    margin-top: 10px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #2A3965;
    text-align: center;
}

footer ul {
    padding: 0px;
}

footer ul li{
    display: inline;
}

h1, h2 {
    font-family: "Roboto Slab";
    text-decoration: none;
}

h1 {
    color: white;
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 0;
}

h2 {
    text-align: center;
}

h3 {
    font-weight: bold;
    padding-left: 5px;
}

.active {
    color: #99D1EB !important;
}

header a, header a:visited {
    color: #E4E0DC;
    white-space: nowrap;
}

main a, main a:visited {
    color: #012661;
}


footer a, footer a:visited {
    padding: 4px;
    color: #012661;
}

.imageLink {
    text-decoration: none;
}

header a:hover {
    color: #96BF36;
}

footer a:hover, main a:hover {
    color: #647F24;
}

figure {
    padding: 0;
    margin: 0;
}

main img {
    display: block;
    margin: auto;
    text-align:center;
    max-width: 375px;
    overflow: hidden;
}

footer img {
    display: inline;
    max-height: 25px;
}

figcaption {
    text-align: center;
}

main p {
    margin-left: 30px;
    margin-right: 5px;
}

main ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    border-collapse: collapse;
}

tr, th, td{
    border-collapse: collapse;
    border: 1px solid #2A3965;
    padding: 3px;
}

th {
    font-weight: bold;
    background-color: #2A3965;
    color: #DDEFF8;
}

td {
    padding-right: 20px;
}

tr:nth-child(odd) {
    background-color: #CFE59F;
}

tr:nth-child(even)  {
    background-color: #A0C940;
}

.alignRight {
    text-align: right;
}

form {
    padding: 10px;
    display: block;
}

input {
    margin: 5px 5px 10px 10px;
}

fieldset {
    margin: 10px 0px 10px 0px;
}

.button {
    background-color: #2A3965;
    color: white;
    border: 2px solid #2A3965;
    border-radius: 4px;
}

.button:hover {
    color: #A0C940;
}

.indented {
    padding-left: 30px;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(6, 50px);
    grid-template-columns: repeat(4, 60px);
    max-width: 240px;
    margin: auto;
}

.calculator-display {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
    text-align: right;
    font-size: 30px;
    padding-top: 7px;
    padding-right: 10px;
    border: 2px solid #2A3965;
    
}

.number-wide {
    grid-column-start: 1;
    grid-column-end: 3;
    border: 2px solid #2A3965
}

.number, .number-wide {
    border: 2px solid #2A3965;
    background-color: #A0C940;
    font-size: 25px;
    color: #2A3965;
}

.action-primary {
    border: 2px solid #2A3965;
    background-color: #C5CEE7;
    font-size: 25px;
    color: #2A3965;
}

.action-secondary {
    border: 2px solid #2A3965;
    background-color: #9AA9D5;
    font-size: 25px;
    color: #2A3965;
}

.grid-container {
    border:2px solid #2A3965;
}

.number:hover, .number-wide:hover, .action-primary:hover, .action-secondary:hover {
    background-color: lightgreen;
}