body {
    font-family: "Inter";
    background-color: #E4E0DC;
    color: #2A3965;
    padding: 0;
    margin: 0;
}

nav {
    float: left;
    overflow: hidden;
    background-color: #2A3965;
    width: 100%;
    margin-bottom: 30px;
}

nav a {
    float: left;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown_button {
    padding: 15px 20px;
    background-color: #2A3965;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 15px 20px;
   
}

nav a:hover, .dropdown:hover .dropdown_button {
    background-color: #647F24;
}

.dropdown_menu {
    display: none;
    position: absolute;
    background-color: gray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_menu a {
    float: none;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown_menu {
    display: block;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #2A3965;
    text-align: center;
}

footer ul {
    padding: 0px;
}

footer ul li{
    display: inline;
}

h1, h2 {
    font-family: "Roboto Slab";
    text-decoration: none;
}

h1 {
    display: inline;
}

h2 {
    text-align: center;
}

h3 {
    font-weight: bold;
    padding-left: 5px;
}

header a, header a:visited{
    color: #E4E0DC;
}

main a, main a:visited {
    color: #012661;
}


footer a, footer a:visited {
    padding: 4px;
    color: #012661;
}

header a.current {
    color: #99D1EB;
}

footer a:hover, main a:hover {
    color: #647F24;
}

figure {
    padding: 0;
    margin: 0;
}

main img {
    display: block;
    margin: auto;
    text-align:center;
    max-width: 375px;
    overflow: hidden;
}

footer img {
    display: inline;
    max-height: 25px;
}

figcaption {
    text-align: center;
}

main p {
    margin-left: 30px;
    margin-right: 5px;
}

main ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

table {
    border-collapse: collapse;
}

tr, th, td{
    border-collapse: collapse;
    border: 1px solid #2A3965;
    padding: 3px;
}

th {
    font-weight: bold;
    background-color: #2A3965;
    color: #DDEFF8;
}

td {
    padding-right: 20px;
}

tr:nth-child(odd) {
    background-color: #CFE59F;
}

tr:nth-child(even)  {
    background-color: #A0C940;
}

.alignRight {
    text-align: right;
}

form {
    padding: 10px;
    display: block;
}

input {
    margin: 5px 5px 10px 10px;
}

fieldset {
    margin: 10px 0px 10px 0px;
}

.button {
    background-color: #2A3965;
    color: white;
    border: 2px solid #2A3965;
    border-radius: 4px;
}

.button:hover {
    color: #A0C940;
}

.indented {
    padding-left: 30px;
}
