<footer>
    <p>Glad you could make it. Come back early and often for updates.</p>
    <ul>
        <li><a href="https://webpages.charlotte.edu/pcook22/">CLT site</a></li> |
        <li><a href="https://github.com/pbcook">Github</a></li> |
        <li><a href="https://pbcook.github.io/">Github pages</a></li> |
        <li><a href="https://github.com/pbcook/pbcook.github.io/tree/main/itis3135">Github course page</a></li> |
        <li><a href="https://www.freecodecamp.org/parkerthecook">freeCodeCamp</a></li> |
        <li><a href="https://www.codecademy.com/profiles/pbcook">Codecademy</a></li> |
        <li><a href="https://www.linkedin.com/in/pbcook314/">Linkedin</a></li>
    </ul>
    <a href="https://validator.w3.org/check?uri=referer" target="_blank" id="validation_link_html"><img src="images/button_validation_html5.png" alt="HTML 5 validation"></a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank" id="validation_link_css"><img src="images/button_validation_css.png" alt="CSS validation"></a>
    <p>Site designed by <a href="https://webpages.charlotte.edu/pcook22/itis3135/cookcreativedesign.co/">Cook Creative Design Co.</a> &copy;2023</p>
</footer>
<script>
    document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>