<h1>ITIS 3135 | Parker Cook's Popular Cheetah</h1>
<nav>
    <div id="mainLinks"></div>
    <div id="otherLinks"></div>
    <!-- <a href="index.html">Home</a>
    <a href="introduction.html">Intro</a>
    <a href="contract.html">Contract</a>
    <a href="tables.html">Tables</a>
    <a href="forms.html">Forms</a>
    <a href="stuff/@M@Z1NG%20f1l3💯.htm">Crappy</a>
    <a href="website_evaluations.html">Website Evaluations</a>
    <a href="firstscripts.html">First JavaScripts</a> -->
</nav>
<script>
    const path = String(location.pathname.split("/").splice(-1));
    const mainLinks = {
        "1": {
            "url": "index.html",
            "text": "Home",
            "alt": "Homepage"
        },
        "2": {
            "url": "introduction.html",
            "text": "Intro",
            "alt": "Personal introduction"
        },
        "3": {
            "url": "contract.html",
            "text": "Contract",
            "alt": "Class contract"
        },
        "4": {
            "url": "tables.html",
            "text": "Tables",
            "alt": "Tables assignment"
        },
        "5": {
            "url": "forms.html",
            "text": "Form",
            "alt": "Forms assignment"
        },
        "6": {
            "url": "website_evaluations.html",
            "text": "Website Evaluations",
            "alt": "Website evaluations assignment"
        },
        "7": {
            "url": "firstscripts.html",
            "text": "First JavaScripts",
            "alt": "Simple JavaScript assignment"
        },
        "8": {
            "url": "polygons.html",
            "text": "Polygons",
            "alt": "Polygons JavaScript assignment"
        },
        "9": {
            "url": "calculator_try.html",
            "text": "Calculator Try",
            "alt": "Calculator JavaScript assignment"
        },
        "10": {
            "url": "calculator_fcc.html",
            "text": "Calculator FCC",
            "alt": "Calculator FCC JavaScript assignment"
        },
        "11": {
            "url": "arrays.html",
            "text": "Arrays",
            "alt": "Arrays JavaScript Assignment"
        },
        "12": {
            "url": "slideshow.html",
            "text": "Slideshow",
            "alt": "Slideshow jQuery Assignment"
        },
        "13": {
            "url": "project_1.html",
            "text": "Project 1",
            "alt": "Project 1 assignment"
        }
    };
    const otherLinks= {
        "1": {
            "url": "stuff/@M@Z1NG f1l3💯.htm",
            "text": "Crappy",
            "alt": "Crappy webpage assignment"
        },
        "2": {
            "url": "cookcreativedesign.co",
            "text": "Design Co.",
            "alt": "Design Company assignment main page"
        },
        "3": {
            "url": "accessibility/Cook-Activity_Accessibility.html",
            "text": "Accessibility",
            "alt": "Accessibility assignment page"
        },
        "4": {
            "url": "hobby/index.html",
            "text": "Hobby",
            "alt": "Hobby midterm assignment"
        },
        "5": {
            "url": "client_project/index.html",
            "text": "Client Project",
            "alt": "Client project home pageS"
        },
        "6": {
            "url": "activity-13/cook-activity13.html",
            "text": "XML to JSON",
            "alt": "Activity 13 assignment, using AJAX with JSON file"
        }
    }
    const linkSeparator = " | ";
    let htmlStringMain = "";
    let htmlStringOther = "";

    for (var id in mainLinks) {
        if (path === mainLinks[id]["url"]) {
            htmlStringMain += "<a href='" + mainLinks[id]["url"] + "' class='active'>" + mainLinks[id]["text"] + "</a>";
        } else {
            htmlStringMain += "<a href='" + mainLinks[id]["url"] + "'>" + mainLinks[id]["text"] + "</a>";
        }
        if (Number(id) < Object.keys(mainLinks).length) {
            htmlStringMain += linkSeparator;
        }
    }
    $("#mainLinks").html(htmlStringMain);

    for (var id in otherLinks) {
        if (path === otherLinks[id]["url"]) {
            htmlStringOther += "<a href='" + otherLinks[id]["url"] + "' class='active' target='_blank'>" + otherLinks[id]["text"] + "</a>";
        } else {
            htmlStringOther += "<a href='" + otherLinks[id]["url"] + "' target='_blank'>" + otherLinks[id]["text"] + "</a>";
        }
        if (Number(id) < Object.keys(otherLinks).length) {
            htmlStringOther += linkSeparator;
        }
    }
    $("#otherLinks").html(htmlStringOther);
</script>